In [13]:
import pandas as pd
from sklearn.preprocessing import KBinsDiscretizer

In [14]:
df = pd.read_csv('Data/all_penguins_clean.csv')
df = df.dropna() # drop all missing values

In [15]:
df

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Real ID,Sex
0,PAL0708,1,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,A_0,MALE
1,PAL0708,2,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,A_1,FEMALE
2,PAL0708,3,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,A_2,FEMALE
4,PAL0708,5,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,A_4,FEMALE
5,PAL0708,6,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N3A2,Yes,11/16/07,39.3,20.6,190.0,3650.0,A_5,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,PAL0910,119,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N38A1,No,12/1/09,47.2,13.7,214.0,4925.0,G_338,FEMALE
340,PAL0910,121,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,G_340,FEMALE
341,PAL0910,122,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,G_341,MALE
342,PAL0910,123,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,G_342,FEMALE
343,PAL0910,124,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,G_343,MALE

In [16]:
# transform a numerical column
kbins = KBinsDiscretizer(n_bins=5, encode='onehot-dense', strategy='uniform')

In [17]:
columns = df[['Culmen Length (mm)']]
kbins.fit(columns)
t = kbins.transform(columns)
print(t.shape)
print()

(334, 5)

In [18]:
# BONUS: set the strategy parameter to 'uniform' and see how the edges change

In [19]:
# BONUS: create nice labels

In [20]:
edges = kbins.bin_edges_[0].round(1)
labels = []
for i in range(len(edges)-1):
    edge1 = edges[i]
    edge2 = edges[i+1]
    labels.append(f"{edge1}_to_{edge2}")

In [21]:
# create a DataFrame
df_bins = pd.DataFrame(t, columns=labels)
print(df_bins.head())

   32.1_to_37.6  37.6_to_43.1  43.1_to_48.6  48.6_to_54.1  54.1_to_59.6
0           0.0           1.0           0.0           0.0           0.0
1           0.0           1.0           0.0           0.0           0.0
2           0.0           1.0           0.0           0.0           0.0
3           1.0           0.0           0.0           0.0           0.0
4           0.0           1.0           0.0           0.0           0.0