In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
#%matplotlib inline

In [2]:
df= pd.read_csv('Data/penguins_simple.csv', sep= ';')

In [10]:
df['Species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [62]:
mask_Adelie = df['Species'] == 'Adelie'
df_Adelie = df[mask_Adelie]
df_Adelie.head()

#alternative
#df_Adelie = df[df['Species'] == 'Adelie']

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE

In [61]:
mask_Gentoo = df['Species'] == 'Gentoo'
df_Gentoo = df[mask_Gentoo]
df_Gentoo.head()

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
214,Gentoo,46.1,13.2,211.0,4500.0,FEMALE
215,Gentoo,50.0,16.3,230.0,5700.0,MALE
216,Gentoo,48.7,14.1,210.0,4450.0,FEMALE
217,Gentoo,50.0,15.2,218.0,5700.0,MALE
218,Gentoo,47.6,14.5,215.0,5400.0,MALE

In [60]:
mask_Chinstrap = df['Species'] == 'Chinstrap'
df_Chinstrap = df[mask_Chinstrap]
df_Chinstrap.head()

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
146,Chinstrap,46.5,17.9,192.0,3500.0,FEMALE
147,Chinstrap,50.0,19.5,196.0,3900.0,MALE
148,Chinstrap,51.3,19.2,193.0,3650.0,MALE
149,Chinstrap,45.4,18.7,188.0,3525.0,FEMALE
150,Chinstrap,52.7,19.8,197.0,3725.0,MALE

In [47]:
X = df_Adelie[['Culmen Depth (mm)']]
y = df_Adelie['Culmen Length (mm)']

In [48]:
X , y

(     Culmen Depth (mm)
 0                 18.7
 1                 17.4
 2                 18.0
 3                 19.3
 4                 20.6
 ..                 ...
 141               18.4
 142               17.8
 143               18.1
 144               17.1
 145               18.5

 [146 rows x 1 columns],
 0      39.1
 1      39.5
 2      40.3
 3      36.7
 4      39.3
        ...
 141    36.6
 142    36.0
 143    37.8
 144    36.0
 145    41.5
 Name: Culmen Length (mm), Length: 146, dtype: float64)

In [49]:
lr = LinearRegression().fit(X, y)

In [51]:
lr.score(X, y)

0.1488518256766419

In [52]:
X_G = df_Gentoo[['Culmen Depth (mm)']]
y_G = df_Gentoo['Culmen Length (mm)']

In [55]:
lr_G = LinearRegression().fit(X_G, y_G)

In [56]:
lr_G.score(X_G, y_G)

0.4277464956121876

In [57]:
X_C = df_Chinstrap[['Culmen Depth (mm)']]
y_C = df_Chinstrap['Culmen Length (mm)']

In [58]:
lr_C = LinearRegression().fit(X_C, y_C)

In [59]:
lr_C.score(X_C, y_C)

0.4271095754023483